/** CSS **/

body {
  padding:0;
}

.bs-docs-section {
  margin-top:20px;
}

ul.units {
  list-style-type: none;
}

ul.units li {
  float: left;
}

.obb-board-panel {
  position: relative;
}

div.obb-board {
  top: 0;
  height: 100%;
}

div.obb-square {
  position: absolute;
  width: 12.5%;
  height: 12.5%;
  transition: 0.13s;
  border: 1px solid rgba(0, 0, 0, .1);
}

img.obb-ice {
  width:100%;
  height:100%;
  z-index:-100;
}

img.unit {
  z-index:100;
  width:100%;
  height:100%;
  position: absolute;
}

img.unit-possible-move {
  z-index:1500;
  width:100%;
  height:100%;
  opacity:.5;
  position: absolute;
}

div.enemy {
  width:100%;
  height:100%;
  background-color: blue;
  opacity: 0.2;
  z-index: 10;
  position: absolute;
}

div.selected-p1 {
  width:100%;
  height:100%;
  background-color: green;
  opacity: 0.5;
  z-index: 10;
  position: absolute;
}

div.selected-p2 {
  width:100%;
  height:100%;
  background-color: blue;
  opacity: 0.4;
  z-index: 10;
  position: absolute;
}

div.possible-destination {
  width:100%;
  height:100%;
  opacity: 0.6;
  z-index: 1000;
  position: absolute;
  background: radial-gradient(rgba(20,85,30,0.5) 17%,#208530 0,rgba(0,0,0,0.5) 0,rgba(0,0,0,0) 0);
}

div.possible-target {
  width:100%;
  height:100%;
  opacity: 0.6;
  z-index: 1000;
  position: absolute;
  background: radial-gradient(transparent 0%,transparent 80%,rgba(255,0,0,0.8) 80%);
}

div.element-quantity {
  width:100%;
  height:100%;
  opacity: 1;
  z-index: 10000;
  position: absolute;
}

div.action-source {
  width:100%;
  height:100%;
  opacity: 0.1;
  z-index:10;
  position: absolute;
}

div.action-source-p1 {
  background-color: green;
  opacity:0.3;
}

div.action-source-p2 {
  background-color: blue;
  opacity:0.4;
}

div.attacked {
  width:100%;
  height:100%;
  opacity: 0.3;
  z-index: 1000;
  position: absolute;
  background-color:red;
}

div.target {
  width:100%;
  height:100%;
  z-index: 2000;
  position: absolute;
  opacity: 1;
  background-image: url('http://orionsbelt.eu/public/battle/target.gif');
}

img.unit-possible-attack {
  width:100%;
  height:100%;
  z-index: 20000;
  position: absolute;
  opacity: 1;
}
